body{
    background: rgb(128,147,241);
    background: radial-gradient(circle, rgba(128,147,241,1) 0%, rgba(252,70,107,0.469625350140056) 100%);    
}

.principal{
    text-align: center;
}

.contenedorImagen{
    box-sizing: border-box;
    float: right;
    background-color: aliceblue;
    height: 200px;
    width: 20%;
    border-radius: 5%;
    text-align: center;
    margin-right: 8%;
    padding-top: 2%;
}

.imagenNinho{
    height: 80%;
    width: 80%;
    border-radius: 5%;
    
}

.contenedorTextos{
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.textos{
    box-sizing: border-box;
    background-color: inherit;
    height: 200px;
    width: 45%;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    margin-left: 3%;
    font-size: 20px;
}

.textos:hover{
    border: 2px solid #FFFFFF;
}

.textos:active{
    border: 2px solid #FFFFFF;
}

.contbotones{
    border: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.boton{
    border: 1px solid rgba(208, 208, 208, 0.291);
    box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.201);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0, 0, 0, 0.17);
    border-radius: 5%;
    width: auto;
    align-items: center;
    margin-bottom: 50px;
    color: aliceblue;
    font-family: 'Chivo Mono', monospace;
    font-weight: bolder;
    font-size:  1.5vw;
    background-color: inherit;
    transition: .2s;
}

.boton:hover{
    border: 3px solid aliceblue;
}

.piePagina{
    margin-top: 1%;
    text-align: center;
    font-style: italic;
}